<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container-fluid background_1">

    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <form [formGroup]="adduserForm">
                <div class="heading justify-content-center">
                    <h1>Registeration Form</h1>
                </div>

                <div class="form-group">
                    <label class="label">Name</label>
                    <input type="name" formControlName="name" class="form-control"
                        [class.is-invalid]="get['name'].invalid && get['name'].touched">
                </div>

                <div class="alert alert-danger" *ngIf="get['name'].invalid && get['name'].touched">

                    <div *ngIf="get['name'].errors &&get['name'].errors['required']">
                        Name is required
                    </div>
                    <div *ngIf="get['name'].errors &&get['name'].errors['minlength']">
                        min lenght is 5
                    </div>
                    <div *ngIf="get['name'].errors &&get['name'].errors['maxlength']">
                        max lenght is 15 </div>
                    <div *ngIf="get['name'].errors &&get['name'].errors['pattern']">
                        No Special Character</div>

                </div>

                <div class="form-group">
                    <label class="label">Email</label>
                    <input type="name" formControlName="email" class="form-control"
                        [class.is-invalid]="get['email'].invalid && get['email'].touched">
                </div>
                <div class="alert alert-danger" *ngIf="get['email'].invalid && get['email'].touched">

                    <div *ngIf="get['email'].errors &&get['email'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="get['email'].errors &&get['email'].errors['pattern']">
                        fill valid email
                    </div>

                </div>

                <div class="form-group">
                    <label class="label">Phone</label>
                    <input type="name" formControlName="phone" class="form-control"
                        [class.is-invalid]="get['phone'].invalid && get['phone'].touched">
                </div>

                <div class="alert alert-danger" *ngIf="get['phone'].invalid && get['phone'].touched">
                    <div *ngIf="get['phone'].errors &&get['phone'].errors['required']">
                        Phone is required
                    </div>
                    <div *ngIf="get['phone'].errors &&get['phone'].errors['pattern']">
                        valid phone number
                    </div>

                </div>

                <div class="form-group">
                    <label class="label">Password</label>
                    <input formControlName="password" type="password" class="form-control"
                        [class.is-invalid]="get['password'].invalid && get['password'].touched">
                </div>
                <div class="alert alert-danger" *ngIf="get['password'].invalid && get['password'].touched">

                    <div *ngIf="get['password'].errors &&get['password'].errors['required']">
                        password is required
                    </div>
                    <div *ngIf="get['password'].errors &&get['password'].errors['pattern']">
                        pattern should be strong
                    </div>
                    <div *ngIf="get['password'].errors &&get['password'].errors['minlength']">
                        min length is 6
                    </div>
                    <div *ngIf="get['password'].errors &&get['password'].errors['maxlength']">
                        maximum length is 50
                    </div>

                </div>

                <div class="form-group">
                    <label class="label">Confirm Password</label>
                    <input formControlName="confirm_pass" class="form-control"
                        [class.is-invalid]="get['confirm_pass'].invalid && get['confirm_pass'].touched">
                </div>
                <div class="alert alert-danger" *ngIf="get['confirm_pass'].invalid && get['confirm_pass'].touched">

                    <div *ngIf="get['confirm_pass'].errors &&get['confirm_pass'].errors['required']">
                        confirm password is required
                    </div>

                    <div *ngIf="get['confirm_pass'].errors &&get['confirm_pass'].errors['confirmPassword']">
                        password missmatch </div>

                </div>

                <div class="d-grid"><br>
                    <button class="btn btn-primary" (click)="register()">Register</button>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 mt-1">
                        <a routerLink="/login">Already have a account</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>